@{
    ViewData["Title"] = "Inicio";
}

<h2>Bienvenido, @ViewBag.Usuario</h2>

<p>Tu rol actual es: <strong>@ViewBag.Rol</strong></p>

<form asp-controller="Auth" asp-action="Logout" method="post">
    <button type="submit" class="btn btn-danger">Cerrar sesión</button>
</form>
